<div class="container">
    <div class="row">
        <div class="col">
            <div class="single-article-image-containter">
                <img class="single-article-image" src="{{review.image}}" />
            </div>

            <div class="row" id="title">
                {{{review.title}}}
            </div>

            <div class="row">
                {{review.author}}
            </div>

            <div class="row">
                {{{review.content}}}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h3>COMMENTS</h3>
    {{#each comments}}
    <div class="row">
        {{author}}
    </div>
    <div class="row">
        {{image}}
    </div>
    <div class="row">
        {{content}}
    </div>
    {{/each}}
</div>


<div class="container">
    {{#if isLoged}}
        <div>
            <form action="#/review/{{review.authorUid}}{{review.title}}/create-comment" id="comment-form" method="post">
                <h3>WRITE A COMMENT</h3>
                <textarea id="comment" name="comment" cols="30" rows="10"></textarea>
                <div>
                    <input type="submit" id="submit-comment" class="btn btn-success" value="SUBMIT"></input>
                </div>
            </form>
        </div>
    {{else}}
        <div>
            <h3>LOG IN TO POST A COMMENT</h3>
        </div>
    {{/if}}
</div>