<div class="sitemap">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#/home">Home</a></li>
        <li class="breadcrumb-item"><a class="breadcrumb-item-category" href="#/home/category/?category={{category}}">{{category}}</a></li>
        <li class="breadcrumb-item">{{review.title}}</li>
    </ol>
</div>

<div class="detailed-review-container">
    <div class="row no-gutters">
        <div class="col- da-details">
            <div class="da-image-container">

                <div class="da-category">
                    {{review.category}}
                </div>
                <img class="da-image" src="{{review.image}}">
                <div class="da-date">
                    <span>{{review.month}}</span>
                    <span> {{review.day}}</span>
                </div>

            </div>
        </div>

        <div class="col- da-content-container">
            <h1>{{review.title}}</h1>

            <div class="da-author">
                POSTED BY {{review.author}} IN {{review.category}} | {{commentsCount}} COMMENTS
            </div>

            <div class="da-content">
                {{review.content}}
            </div>

        </div>
    </div>
</div>

<div class="row no-gutters justify-content-end review-comments-container-parent">
    <div class="review-comments-container">
        <div class="comments-count">
            {{commentsCount}} COMMENTS
        </div>

        <div class="comments-list-container">
            {{#each comments}}
            <div class="comments-list-item row no-gutters">
                <div class="col- comment-item-info">
                    <div class="comment-item-image-container">
                        <img class="comment-author-avatar" src="{{image}}">
                        <div class="comment-date">
                            <span>{{month}}</span>
                            <span>{{day}}</span>
                        </div>
                    </div>
                </div>
                <div class="col- comment-item-contnet-container">
                    <h4>{{author}}</h4>
                    <div class="comment-item-content">
                        {{content}}
                    </div>
                </div>
            </div>
         {{/each}}
        </div>
        {{#if isLoged}}
        <div class="add-comment-container add-comment-toggler">
            <div>LEAVE A COMMENT</div>
            <div class="rc-custom-form">
                <form action="#/home/review/{{review.authorUid}}{{review.title}}/create-comment" method="post">
                    <textarea name="content" id="comment-box" rows="8"></textarea>
                    <div>
                        <input type="submit" id="submit-comment" value="SUBMIT">
                    </div>
                </form>
            </div>
        </div>
        {{/if}}
    </div>
</div>