<div class="row" id="reviews-containter">
    {{#each reviews}}
    <div class="col-ts-12 col-sm-6 col-md-3 col-lg-2 eq-height">
        <div class="reviews-single-review">
            <a href="#/home/review/{{authorUid}}{{title}}">
            <div class="single-review-image-containter">
                <div class="single-review-category">
                    {{category}}
                </div>
                <img class="single-review-image" src="{{image}}" />
                <div class="single-review-date">
                    <span>{{month}}</span>
                    <span> {{day}}</span>
                </div>
            </div>

            <div class="single-review-title" title="{{{title}}}">
                {{{title}}}
            </div>

            <div class="single-review-author">
                AUTHOR {{author}}
            </div>

            <div class="single-review-content">
                {{{substr '90' content}}}
            </div>

            <div class="botom-line"></div>
        </a>
        </div>
    </div>
    {{/each}}
</div>

    {{#if pagination}}
    <div class="row pagination-container">
        <div class="d-flex justify-content-start" id="previous">
            <a href="#/home/?page=1&pageSize={{pageSize}}">«</a>
        </div>

        <div class="col d-flex justify-content-center pages">
            {{#each pageNumbers}}
            <a id="page{{this}}" href="#/home/?page={{this}}&pageSize={{../pageSize}}">{{this}}</a>
            {{/each}}
        </div>

        <div class="d-flex justify-content-end" id="next">
            <a href="#/home/?page={{countPages}}&pageSize={{pageSize}}">»</a>
        </div>
    </div>
    {{/if}}
</div>